alabaster==0.7.12
appdirs==1.4.3
APScheduler==3.6.3
apsw==3.28.0.post1
asgiref==3.2.7
astroid==1.6.6
attrs==19.3.0
autoflake==0.6.6
autopep8==1.5.3
Babel==2.9.0
backcall==0.2.0
bandit==1.7.0
bcrypt==3.1.7
beautifulsoup4==4.8.2
bleach==3.1.5
blinker==1.4
Brlapi==0.7.0
cached-property==1.5.1
ccsm==0.9.14.1
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
chrome-gnome-shell==0.0.0
click==6.6
cmakelint==1.4.1
coala==0.11.0
coala-bears==0.11.1
coala-utils==0.6.7
colorama==0.3.9
colorlog==2.10.0
command-not-found==0.3
compizconfig-python==0.9.14.1
cppclean==0.12
cpplint==1.5.4
crcmod==1.7
cryptography==2.8
css-parser==1.0.4
cssselect==1.1.0
cssutils==1.0.2
cupshelpers==1.0
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
defusedxml==0.6.0
dennis==0.9
dependency-management==0.4.0
distlib==0.3.0
distro==1.5.0
distro-info===0.23ubuntu1
dj-database-url==0.5.0
Django==3.0.3
django-crispy-forms==1.11.2
django-heroku==0.3.1
django-modelcluster==5.0.2
django-taggit==1.3.0
django-treebeard==4.3.1
djangorestframework==3.11.0
dnspython==1.16.0
docker==4.2.1
docker-compose==1.26.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.16
draftjs-exporter==2.1.7
entrypoints==0.3
eradicate==0.1.6
faunadb==4.0.1
feedparser==5.2.1
filelock==3.0.12
future==0.18.2
gitdb==4.0.5
GitPython==3.1.14
gpg===1.13.1-unknown
guess-language-spirit==0.5.3
gunicorn==20.1.0
h2==2.6.2
hpack==3.0.0
html-linter==0.3.0
html2text==2020.1.16
html5-parser==0.4.9
html5lib==1.1
httplib2==0.14.0
hyper==0.7.0
hyperframe==3.2.0
idna==2.8
ifaddr==0.1.6
imagesize==1.2.0
importlib-metadata==1.5.0
ipykernel==5.3.0
ipython==7.15.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
iso8601==0.1.14
isort==4.3.21
jedi==0.17.0
Jinja2==2.11.2
joblib==1.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
keyring==18.0.1
l18n==2018.5
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.4.3
libclang-py3==3.4.0
livereload==2.6.3
louis==3.12.0
lunr==0.5.8
lxml==4.5.0
macaroonbakery==1.3.1
Mako==1.1.0
mando==0.3.3
Markdown==3.3.4
MarkupSafe==1.1.0
mccabe==0.6.1
mechanize==0.4.5
meson==0.53.2
mistune==0.8.4
mkdocs==1.0.4
mkdocs-material==3.0.6
more-itertools==4.2.0
msgpack==0.6.2
munkres3==1.0.5.5
mypy-lang==0.4.6
nbconvert==5.6.1
nbformat==4.4.0
netifaces==0.10.4
nltk==3.5
nose==1.3.7
notebook==6.0.3
numpy==1.17.4
oauthlib==3.1.0
olefile==0.46
packaging==20.4
pandocfilters==1.4.2
paramiko==2.7.1
parso==0.7.0
pbr==5.5.1
persepolis==3.2.0
pexpect==4.6.0
pickleshare==0.7.5
Pillow==7.0.0
pipenv==2020.11.15
pluggy==0.13.0
polib==1.1.0
prometheus-client==0.8.0
prompt-toolkit==1.0.14
proselint==0.7.0
protobuf==3.6.1
psutil==5.5.1
psycopg2==2.8.6
psycopg2-binary==2.8.5
ptyprocess==0.6.0
py==1.8.1
pycairo==1.16.2
pychm==0.8.6
pycodestyle==2.6.0
pycparser==2.20
pycups==1.9.73
pydocstyle==1.1.1
pyflakes==1.4.0
pygame==1.9.6
Pygments==2.6.1
PyGObject==3.36.0
PyInputPlus==0.2.10
PyInquirer==1.0.3
PyJWT==1.7.1
pylint==1.9.4
pymacaroons==0.13.0
pymdown-extensions==8.1.1
PyNaCl==1.3.0
pyparsing==2.4.7
PyPrint==0.2.6
PyQt5==5.14.1
PyQtWebEngine==5.14.0
pyRFC3339==1.1
pyroma==2.2
pyrsistent==0.16.0
PySimpleValidate==0.2.12
PySocks==1.6.8
python-apt==2.0.0+ubuntu0.20.4.2
python-dateutil==2.7.3
python-debian===0.1.36ubuntu1
python-decouple==3.4
python-dotenv==0.13.0
python-telegram-bot==13.2
pytz==2019.3
pyxattr==0.6.1
pyxdg==0.26
PyYAML==3.13
pyzmq==19.0.1
qtconsole==4.7.4
QtPy==1.9.0
radon==1.4.0
regex==2020.7.14
reportlab==3.5.34
repoze.lru==0.7
requests==2.22.0
requests-unixsocket==0.2.0
restructuredtext-lint==1.0.1
Routes==2.4.1
rstcheck==2.2
safety==0.5.1
sarge==0.1.6
scspell3k==2.2
SecretStorage==2.3.1
Send2Trash==1.5.0
setproctitle==1.1.10
simplejson==3.16.0
sip==4.19.21
six==1.14.0
smmap==3.0.5
snowballstemmer==2.1.0
soupsieve==2.0.1
Sphinx==1.4.9
sqlparse==0.3.1
stdiomask==0.0.5
stevedore==3.3.0
systemd-python==234
telegram==0.0.1
template-remover==0.1.9
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
texttable==1.6.2
toml==0.10.1
torbrowser-launcher==0.3.2
tornado==6.0.4
tox==3.13.2
tqdm==4.59.0
traitlets==4.3.3
twilio==6.42.0
tzlocal==2.1
ubuntu-advantage-tools==20.3
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
Unidecode==1.1.1
unidiff==0.5.5
urllib3==1.25.8
vboxapi==1.0
virtualenv==20.0.17
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
vulture==0.10
wadllib==1.3.3
wagtail==2.9.3
wcwidth==0.2.4
webencodings==0.5.1
WebOb==1.8.5
websocket-client==0.57.0
whitenoise==5.2.0
widgetsnbextension==3.5.1
Willow==1.3
wrapt==1.12.1
xkit==0.0.0
XlsxWriter==1.2.9
yamllint==1.6.1
yapf==0.14.0
youtube-dl==2020.3.24
zeroconf==0.24.4
zipp==1.0.0
