{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<div class="container p-5">
    <h2 class="font-weight-bold mt-3">Reset Password</h2>
    <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting up a new one.</p>
    <form method="POST">
        {% csrf_token %}
        {{ password_reset_form|crispy }}
        <input class="btn btn-primary" type="submit" value="="Change my password">
    </form>
</div>
{% endblock content %}