{% block sidebar%}

<style>
    .card {
            box-shadow: 0 16px 48px #E3e7eb;
        }
</style>

<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header">Dennis The Menace</h5>
        <div class="card-body">
            <p class="card-text">This is an amazing blog to show case my skills as a Django developer.</p>
            <a href="https://www.twitter.com/th3nn3ss" class="btn btn-info"> Connect on Twitter</a>
            <p class="card-text"><br>If you want to be able to make comments. You must register.</p>
            <a href="/register" class="btn btn-primary"> Register</a>
            
        </div>
    </div>
</div>
{% endblock sidebar %}